<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Nature Saboaria</title>
    <!--'<meta name ="Essa tag diz pro nosso browse queesse site é responsivo  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="">
    <meta http-equiv="content-type" content="text/html text/css; charset=UTF-8" />
    <meta name="description" content="GRUPO 4 CONTROLE DE ESTOQUE ">
    <meta name="robots" content="index,nofolow">
    <meta name="author" content="Grupo 4  ">
    <meta http-equiv="imagetoolbar" content="no" />

    <!-- Icones do BULMA -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- LINK DO CSS EXTERNO PARA O BULMA -->
    <link rel="stylesheet" href="/html-css/lib/bulma.min.css">


    <link rel="stylesheet" href="/html-css/lib/incluirProduto.css">
    <title>Controle de Estoque </title>
</head>

<body>
    <header>
        <!-- NAVEGAÇÃO -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <nav class="navbar is-hidden-fullhd ,is-hidden-touch " role="navigation" aria-label="main navigation">
                <div class="navbar-brand">

                    <a role="button" class="navbar-burguer burguer" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

                    <!-- VOlta ao inicio da página -->
                    <a class="navbar-item" href="/html-css/html/home.html">
                        Home 
                    </a>

                    <!-- Pesquisar algum produto adicionado no estoque  -->
                    <div class="navbar-end">
                        <div class=" navbar-item ">
                            <div class="control has-icons-left">
                                <input class="input is-rounded" type="text" placeholder="Pesquisar">

                                <span class="icon is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>

                    </div>


            </nav>
        </nav>
    </header>



    <div class="columns is-12  is-hidden-fullhd ,is-hidden-touch is-mobile is-desktop ">

        <!-- DASHBOARD -->

        <div class="box is-hidden-fullhd ,is-hidden-touc">
            <br>
            <div class="columns is-2">
                <aside class="menu">
                    <p class="menu-label">
                        Geral
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                Dashboard
                            </a>
                        </li>

                    </ul>

                    <p class="menu-label">
                        Administração
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a>
                                <img src="/html-css/lib/icons8-menu-de-usuário-feminino-24.png" alt="">
                                Gerenciar
                            </a>
                            <ul>
                                <li><a>Agenda
                                        <link rel="stylesheet" href="/html-css/html/agenda.html"></a></li>
                                <li>
                                    <a>Estoque
                                        <link rel="stylesheet" href="/html-css/html/estoque.html">
                                    </a>
                                </li>


                                <li><a>Clientes</a></li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="menu-list">
                        <li>
                            <img src="/html-css/lib/transaçoes.png" alt=""> Transações
                            <ul>
                                <li><a>Pagamentos</a></li>
                                <li><a>Transferência</a></li>
                                <li><a>Gráfico</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>



        <!-- INCLUIR PRODUTOS -->


        <div class="column is-9  ">

            <form id="formIncluir" action="">
                Incluir novo produto
                <br>
                <!-- NOME -->
                <div class="control">
                    <input class="input" type="text" placeholder="Nome do Produto">
                </div>
                <br>

                <!-- Código de barras -->
                <div class="control">
                    <input class="input" type="text" placeholder="Código de barras">
                </div>
                <br>


                <!-- Quantidade -->
                <div class="control">
                    <input class="input" type="number" placeholder="Quantidade">
                </div>
                <br>


                <!-- TIPO -->
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Selecione o tipo do sabonete</option>
                            <option>Anti-oleosidade</option>
                            <option>Esfoliante</option>
                            <option>Hidratante</option>
                            <option>Sensivel</option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- Marca -->

                <div class="control">
                    <div class="select">
                        <select>
                            <option>Marca</option>
                            <option>Arte dos Aromas</option>
                            <option>Cativa Natureza</option>
                            <option>Herbia</option>
                            <option>Livealoe</option>
                            <option>Terral</option>
                        </select>
                    </div>

                </div>
                <br>

                <!-- PREÇO -->
                <div id="preco">
                    <div class="field has-addons">
                        <p class="control">
                            <span class="select">
                                <select>
                                    <option>R$</option>

                                </select>
                            </span>
                        </p>
                        <p class="control">
                            <input class="input" type="text" placeholder="Preço">
                        </p>
                    </div>
                </div>
                <br>




                <!-- LIQUIDO OU SOLIDO? -->

                <div class="control">
                    <div class="select">
                        <select>
                            <option>Selecionne </option>
                            <option>Líquido </option>
                            <option>Sólido </option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- Para a parte do corpo -->
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Para qual parte do corpo?</option>
                            <option>Corporal</option>
                            <option>Facial</option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- Botão para enviar para o form -->
                <button class="button is-dark">ENVIAR</button>
            </form>


        </div>


        <br>
        <br>

        <!-- 
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Controle de estoque </strong> by <a href="https://jgthms.com">Rafael,Ágata,Avatar e Lucas</a>. Esse código é licenciado pelo 
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
              </p>
            </div>
        </footer>
     -->
    </div>

</body>

</html>