<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Nature Saboaria</title>
        <!--'<meta name ="Esaa tag diz pro nosso browse que esse site é responsivo  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="">
        <meta http-equiv="content-type" content="text/html text/css; charset=UTF-8" />
        <meta name="description" content="GRUPO 4 CONTROLE DE ESTOQUE ">
        <meta name="robots" content="index,nofolow">
        <meta name="author" content="Grupo 4">
        <meta http-equiv="imagetoolbar" content="no" />
        <!-- Icones do BULMA -->
        <script defer src="{{ url_for('static', filename='icons.js') }}"></script>
        <!-- LINK DO CSS EXTERNO PARA O BULMA -->
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        <title>Controle de Estoque </title>
    </head>
    <body>
        <header>
            <!-- NAVEGAÇÃO -->
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <nav class="navbar is-hidden-fullhd ,is-hidden-touch " role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burguer burguer" aria-label="menu" aria-expanded="false">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                        <!-- VOlta ao inicio da página -->
                        <a class="navbar-item" href="">
                            Home
                        </a>
                        <!-- Pesquisar algum produto adicionado no estoque  -->
                        <div class="navbar-end">
                            <div class=" navbar-item ">
                                <div class="control has-icons-left">
                                    <input class="input is-rounded" type="text" placeholder="Pesquisar">
                                    <span class="icon is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </nav>
        </header>
        <div class="columns ">
            <!-- DASHBOARD -->
            <div class="box is-hidden-fullhd ,is-hidden-touc">
                <br>
                <div class="columns is-2">
                    <aside class="menu">
                        <p class="menu-label">
                            Geral
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>
                                    <span class="icon">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    Dashboard
                                </a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Administração
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a>
                                    <img src="{{ url_for('static', filename='icons8-menu-de-usuário-feminino-24.png') }}" alt="">
                                    Gerenciar
                                </a>
                                <ul>
                                    <li>
                                        <a href="">Agenda</a></li>
                                    <li>
                                        <a href="">Estoque</a>
                                    </li>
                                    <li>
                                        <a href="">Clientes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <img src="{{ url_for('static', filename='transaçoes.png') }}" alt=""> Transações
                                <ul>
                                    <li><a>Pagamentos</a></li>
                                    <li><a>Transferência</a></li>
                                    <li><a>Gráfico</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            {% block conteudo %} <!--O Contéudo do site será inserido aqui!--> {% endblock %}
        </div>
        {% block resposta %} <!--A resposta do servidor a algum ação do usuário no estoque (remover um produto, pesquisar, etc, será colocada aqui)--> {% endblock %}
    </body>
</html>