{% extends "base1.html" %}
{% block conteudo %}
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <div id = "graficos">


    <!-- Graficos-->
    <div class="container">
        <div class="box1"> 

        <h3 class="descricao"> Produtos mais vendidos no dia</h3>
        <!-- Mais vendidos do dia -->
        <canvas  id="myChart1" width="100px" height="100px" ></canvas>
        <script defer>
            var maisVendidoDia1 = document.getElementById('myChart1').getContext('2d');
            var maisVendidodia2 = new Chart(maisVendidoDia1, {
                //Tornando o gráfico responsivo
                maintainAspectRatio : false,
                responsive: true,
                type: 'doughnut',
                //Define os dados do chart
                data: {
                labels: [   
                    {% for dado in diaQuantidade %}
                        "{{dado[0]}}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Produtos mais vendidos do dia',
                    backgroundColor: ['#424242', '#402e32', '#5c4217', '#f2a900','#b6a99a','#fff7e8', '#fff'],
                    borderColor: 'black', //Define as cores das bordas 
                    data: [
                        {% for dado in diaQuantidade %}
                            "{{dado[1]}}",
                        {% endfor %}
                    ]
                }]
            },
            options: {
                
            }
        });    
    </script>
    </div>

    <div class="box2">


        <h3 class="descricao"> Produtos mais vendidos no mês</h3>

    <!-- Mais vendidos do mês -->
    <canvas   id="myChart2" width="100px" height="100px"></canvas>
    <br>
    
    <script defer>
        
        var maisVendidoMesl= document.getElementById('myChart2').getContext('2d');
        var maisVendidoMes2 = new Chart(maisVendidoMesl, {
            //Tornando o gráfico responsivo
            maintainAspectRatio : false,
            responsive: true,
            type: 'doughnut',
            //Define os dados do chart
            data: {
                labels: [   
                    {% for dado in mesQuantidade %}
                        "{{dado[0]}}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Produtos mais vendidos do mês',
                    backgroundColor: ['#424242', '#402e32', '#5c4217', '#f2a900','#b6a99a','#fff7e8', '#fff'],
                    borderColor: 'black', //Define as cores das bordas 
                    data: [
                        {% for dado in mesQuantidade %}
                            "{{dado[1]}}",
                        {% endfor %}
                    ]
                }]
            },
            options: {
                //Opçoes caso vcs queiram que eu adc algo
            }
        });   
    </script>
    </div>


    <div class="box3">
        
        <h3 class="descricao">Produtos mais vendidos no ano</h3>
        
    <!-- Mais vendidos do ano -->
    <canvas id="myChart3" width="100px" height="100px"></canvas>
    <script defer>
        var maisVendidoAno1= document.getElementById('myChart3').getContext('2d');
        var maisVeniddoANo2= new Chart(maisVendidoAno1, {
        //Tornando o gráfico responsivo
        maintainAspectRatio : false,
        responsive: true,
        type: 'doughnut',
        //Define os dados do chart
        data: {
            labels: [   
                    {% for dado in anoQuantidade %}
                        "{{dado[0]}}",
                    {% endfor %}
                ],
            datasets: [{
                    label: 'Produtos mais vendidos do Ano',
                    backgroundColor: ['#424242', '#402e32', '#5c4217', '#f2a900','#b6a99a','#fff7e8', '#fff','yellow', 'red'],
                    borderColor: 'black', //Define as cores das bordas 
                    data: [
                        {% for dado in anoQuantidade %}
                            "{{dado[1]}}",
                        {% endfor %}
                    ]
                }]
            },
            options: {
                //Opçoes caso queiramos adicionar 
            }
        });
    </script>
    </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <style>
        .container {
            width: 60%;          
            height: 100%;  
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: left;
        }

        .box1{
            width: 50%;
            border: 1px solid;
            border-color: #fea900;
            border-radius: 40px;
            margin: 10px 20px;
            list-style-type: none;
        }
        .box2{
            width: 50%;
            border: 1px solid;
            border-color: #fea900;
            border-radius: 40px;
            margin: 10px 20px;
            
            list-style-type: none;
            
        }

        .box3 {
            width: 50%;
            top: 150%;
            border: 1px solid;
            border-color: #fea900;
            border-radius: 40px;
            margin: 10px 20px;
            list-style-type: none;
            
        }

        .descricao{
            text-align: center;
            color:#F2A900
        }
        
    </style>
{% endblock %}