{% extends "base1.html" %}
{% block conteudo %}
    <canvas id="myChart"></canvas>
    <canvas id="myChart1"></canvas>
    <canvas id="myChart2"></canvas>
    <canvas id="myChart3"></canvas>
    <canvas id="myChart4"></canvas>
    <canvas id="myChart5"></canvas>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>

    <!-- Gráfico de produtos mais vendidos-->
    <div>
        <script defer id="graficoMaisVendidos">
            var ctx = document.getElementById('myChart').getContext('2d');

            var chart = new Chart(ctx, {

                type: 'bar',

                //Define os dados do chart
                data: {
                    labels: ['Argila Vermelha', 'Purificante Natural', 'Calêndula', 'Bambu', 'Mel', 'Lama Negra', 'Herbia'],


                    datasets: [{
                        label: 'Gráfico de produtos mais vendidos',

                        backgroundColor: ['green', 'blue', 'yellow', 'red', 'pink', 'black', 'white'],
                        borderColor: 'rgb(255, 99, 132)', //Define as cores das bordas 

                        //DADOS QUE IRÁ  INTEGRAR COM O JINJA 2
                        data: [50, 10, 5, 30, 45, 67, 190]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <br>

        <!-- CSS do grafico dos mais vendidos -->
        <style>
            #graficoMaisVendidos{
                
            }
        </style>
    </div>







    <div >
        <!-- {{variavel}} -->
        <script defer id="graficoEntradaProdutos">
        
        var entrada = document.getElementById('myChart1').getContext('2d');

        var entradaProdutos = new Chart(entrada, {

            type: 'doughnut',

            //Define os dados do chart
            data: {

            //  legendas para os respectivos valores do vetor data
            labels: ['Argila Vermelha', 'Purificante Natural', 'Calêndula', 'Bambu', 'Mel', 'Lama Negra', 'Herbia'],


                datasets: [{
                    label: 'Gráfico de produtos mais vendidos',

                    //propriedade para adicionar cores aos respectivos valores do vetor data
                    backgroundColor: ['green', 'blue', 'yellow', 'red', 'pink', 'black', 'white'],
                    borderColor: 'rgb(255, 99, 132)', //Define as cores das bordas 

                    //DADOS QUE IRÁ  INTEGRAR COM O JINJA 2
                    data: [50, 2000, 5, 30, 45, 67, 190]
                }]
            },

            //Objeto que define opções customizavéis do gráfico
            options: {
                
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

        <style></style>
    </div>
{% endblock %}