{% extends "base1.html" %}
{% block conteudo %}

<style>
  #formulario {
    display: flex;
    flex-direction:column;

  }

  h2{
    color: #F2A900;
    align-self:center;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: .5em;
  } 

   #formulario input[type="text"] {
    flex: 0 0 30px;
    width: 400px;
    border-radius: 10px;
    align-self: center;
    margin: 15px;
    border: 1px solid;
    border-color:#F2A900;
    padding: 10px;
    }
    #quant {
      flex: 0 0 30px;
      width: 400px;
      border-radius: 10px;
      align-self: center;
      margin: 15px;
      border: 1px solid;
      border-color:#F2A900;
      padding: 10px;
    }

    .radio{
     display: flex;
     justify-content: space-around;
     margin: 10px 46%;      
    }
   
    #formulario input[type="file"] {
      align-self: center;
      margin: 15px;
    }

    #formulario input[type="submit"] {
      
      margin:20px;
      color: #F8F8F8;
      border-radius: 5px;
      background-color: #f2a900;
      outline: none;
      cursor: pointer;
      align-self: center;
      flex: 0 0 60px;

  }
  
  #formulario input:hover[type="submit"] {
      background-color: #424242;
  }
  label{
    margin-top: 10px;
    font-family: "century Gothic", sans-serif;
    font-size: 80%;
    font-weight: bold;
    align-self: center;
    
  }
  
</style>

    <form id = "formulario" action="/recebendo_dados" method="post" enctype="multipart/form-data">
        <h2>Incluir Novo Produto</h2>
        <input  type="text" name="nome" placeholder="Nome do Produto" required>
        <input  id="quant" type="number" name="quantidade" placeholder="Quantidade" min="1" required>
        <input  id="preco" type="text" name="preço" placeholder="Preço unitario" required>
        
        <label> volume em ml ou gramas? </label>
        <div class = "radio" >
        <input   type="radio" name="volume" value="ml" required>ml
        <input   type="radio" name="volume" value="g" required>Gramas
        </div>

        <input  id="volume" type="text" name="valor" placeholder="volume unitário" required>

        <label> Área do Corpo: </label>
        <div class = "radio">      
        <input  type="radio" name="área do corpo" value="corporal" required>Corporal
        <input  type="radio" name="área do corpo" value="facial" required>Facial
        </div>

        <label> Inserir Imagem </label>
        <input type="file" name="imagem">
        
        <input type="submit" value="Inserir novo produto" onclick="return clicar()">                                
    </form>
    
    <script>
      let form = document.querySelector('#formulario')

      // Validação de dados
      function clicar() {
        let preco = document.querySelector('#preco')
        let volume = document.querySelector('#volume')

        if (preco.value != '' && volume.value != '') {
          if (isNaN(preco.value)) {
            alert('Por favor, insira valores numéricos no campo do preço')
            return false
          }
          else {
            if (isNaN(volume.value)) {
              alert('Por favor, insira valores numéricos no campo do volume')
              return false
            }
            else {
              form.submit()
              return true
            }
          }
        }
      }
    </script>

</main>

{% endblock %}
{% block resposta %} <!-- Aqui será a resposta do formulário de adição do produto --> {% endblock %} 