{% extends 'base.html' %}
{% block conteudo %}
    <main>
        <h1>Nature Saboaria</h1>
        <h2>Inserindo Itens</h2>
        <form action="/add" method="post">
            
            <label for="produto">Produto: </label>
            <input type="text" name="produto" id="" required> <br>

            <label for="quantidade">Quantidade: </label>
            <input type="number" name="quantidade" id="" required> <br>

            <label for="preco">Preço: </label>
            <input type="text" name="preco" id="" required> <br>

            <label for="peso">Peso: </label>
            <input type="text" name="peso" id="" required> <br>

            <label for="partecorpo">Parte do Corpo: </label>
            <input type="text" name="partecorpo" id="" required> <br>

            <button type="submit">Enviar</button>
        </form>
    </main>
{% endblock %}
