{% extends "base.html" %}
{% block conteudo %}
    <table>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Tipo de sabonete</th>
            <th>Marca</th>
            <th>Tipo de produção</th>
            <th>Preço</th>
            <th>Peso</th>
            <th>Líquido/Sólido</th>
            <th>Parte do Corpo</th>
        </tr>
        {% for produto in planilha_completa %}
            <tr>
                <td>{{produto[0]}}</td>
                <td>{{produto[1]}}</td>
                <td>{{produto[2]}}</td>
                <td>{{produto[3]}}</td>
                <td>{{produto[4]}}</td>
                <td>{{produto[5]}}</td>
                <td>{{produto[6]}}</td>
                <td>{{produto[7]}}</td>
                <td>{{produto[8]}}</td>
                <td>{{produto[9]}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}