{% extends 'estoque.html' %}
{% block popup %}
<div id="tela">
    <div id="popup">
        <form action="/venda" method="POST">
            <header>
                <img src="{{ url_for ('static', filename = imagem) }}" alt="item">
                <h2>{{nome}}</h2>
            </header>
            <main>
                <h3>Quantidade a ser retirada</h3>
                <div id="acao">
                    <a id = "voltar" href="/estoque">Voltar</a>
                    <input type="hidden" name="nome" value="{{nome}}">
                    <input type="number" name="quantidade" id="">
                    <button id='enviar' type="submit">Retirar</button>
                </div>
            </main>
        </form>
    </div>
</div>
{% endblock %}
{% block resposta %} <!-- respostas do popup --> {% endblock %}
