<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Até a Próxima</title>
        <style>
            h1 {
                margin: auto;
                margin-top: 40px;
                text-align: center;
                font-size: 50px;
            }
            img {
                margin: auto;
                display: block;
                margin-top: 100px;
                height: 700px;
            }
        </style>
    </head>
    <body>
        <h1>Item adicionado com sucesso!</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjwXukN6qQ6CinVsL1XSWnXzbGLxQ9NxAamhUCnJEkThgYAxXr&usqp=CAU" alt="bye">
    </body>
</html>
