{% extends "base1.html" %}
{% block conteudo %}
<style>
    h1 {
    color: #F2A900;
    text-align:center;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: .5em;
    }

    p {
        margin: 10px;
    }

</style>

    <h1>Diario de Bordo</h1>
    <p>
        03/06, muito trabalho a ser feito e pouca paciencia para destrinchar a estrutura html na mão grande. Flask begginer tutorial chegou num ponto em que me apresentou algo grande. algo inovador. Nos pouparia muito trabalho.
         <strong>Deus jinja</strong>. <br>
        Foi dificil convencer a tripulação a abraça-lo de primeira, mas eu não desisti. Me parecia um tremendo desperdicio de recurso gastar tanto tempo no html quando o <strong>Jinja</strong> poderia solucionar tudo por nos. convenci os hereges atraves da insistencia e não demorou muito para se encantarem com tamanha efetividade, foi o que nos proporcionou um projeto tão lindo.
    </p>
{% endblock %}