{% extends "base.html" %}
{% block conteudo %}
<style>

/*listagem styles*/
#listagem {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  }
  
  .itens{
      padding: 5px 10px;
      font-size: 0.8em;
  }
  #itemzão{
      display:flex;
      list-style-type: none;
      border:solid thin;
      border-radius: 1em;
      margin: 5px;
  }  

#imagem_lista {
  width:200px;
  height:200px;
}

#lixeira{ 
  width: 30px;
  height: 30px;
  position:relative;
  top: 1em;
}
#compra{
  width: 30px;
  height:30px;
  position:relative;
  top: 1em;
}
#descrição {
  align-self: center;
}
</style>
<main>

  <div id = "listagem">
      {% for produto in planilha_completa %}
          <form action="/remover" method="POST">
              <ul id = "itemzão"> 
                  <li>
                  <img id = "imagem_lista" class = "itens" src="{{ url_for('static', filename=produto[5]) }}"> 
                  </li>
                  <div id = "descrição">
                  <li class = "itens">{{produto[0]}}</li>
                  <li class = "itens">{{produto[1]}}</li>
                  <li class = "itens">{{produto[2]}}</li>
                  <li class = "itens">{{produto[3]}}</li>
                  <li class = "itens">{{produto[4]}}</li>
                  <input id = "lixeira" type="image"  src="{{url_for('static', filename= 'download.png')}}">
                  <input id = "compra" type="image"  src="{{url_for('static', filename= 'compra.png')}}">
                </div>
              </ul>
          </form>
      {% endfor %}
  </div>
</main>
{% endblock %}      

