/* CLASSES */

.navbar{
    background-color: rgb(185, 185, 185)
}

.navbar-item{
    left: 5%;
}

.menu{
    margin-left: 2%;
    margin-block-start: auto;
}


.navbar-end{
    margin-right: -147%;
    border-right: 13px;
    position: relative;
}
.columns{
    padding-left: 15px;
    padding-right: 15px;
}


/* IDS */


#formIncluir {
    width: 400px; 
    height: 150px; 
    left: 49%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: relative; 
    top: 25%; 
}

