{% extends "base1.html" %}

{% block conteudo %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estoque.css')}}">
  <script defer type="text/javascript" src="{{url_for('static', filename='js/estoque.js')}}"></script>
  <div id = "listagem">
    {% for produto in planilha_completa %}
      <ul id = "itemzão">
        <li>
            <img id="imagem_lista" class="itens" src="{{url_for('static', filename='img/' + produto[6])}}">
        </li>
        <div id = "descrição">
          <li id = "titulo">{{produto[1]}}</li>
          <li class = "itens">Quantidade: {{produto[2]}}</li>
          <li class = "itens">R$: {{produto[3]}}</li>
          <li class = "itens">Volume: {{produto[4]}}</li>
          <li class = "itens">Finalidade: {{produto[5]}}</li>
          <input id = "lixeira" type="image" src="{{url_for('static', filename= 'lixeira3.jpg')}}" onclick="erase()">
          <form action="/popupEdition" method="POST">
            <input name="id" type="hidden" value="{{produto[0]}}">
            <input id = "editar" type="image" src="{{url_for('static', filename= 'editar1.jpg')}}">
          </form>
          <form action="/popup" method="POST">
            <input name="item" type="hidden" value="{{produto[0]}}">
            <input id="compra" type="image" src="{{url_for('static', filename= 'compra.png')}}">
          </form>
        </div>
      </ul>
    {% endfor %}
  </div>
    
  {% block popup %} <!-- Aqui ficará o popup --> {% endblock %}
  {% block editar %} <!-- Aqui será o edição de itens --> {% endblock %}

{% endblock %}

{% block resposta %} <!--Resposta do servidor--> {% endblock %}     
